body {
    background-color: rgba(0, 0, 0, 0.884);
    font-family: 'Avenir Next', sans-serif;
}

section {
    display: block;
    color: white;
    text-align: center;
}

section h1 {
    font-size: 40px;
}

.cards {
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

.cards .dolar, .euro, .bitcoin {
    background-color: rgba(0, 0, 0, 0.39);
    box-shadow: 0px 0px 5px black;
    margin: 10px;
    width: 20%;
    height: 200px;
}